/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #1A1A1A;
    scroll-behavior: smooth;
}

/* Estilização do scrollbar */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #33303E;
}
  
  /* Handle */
  
::-webkit-scrollbar-thumb {
    background: #FFAE0D;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #25B4D7;
}

/* Estilização do header */

header {
    background-color: #1F1F1F;
    
    width: 100%;
    height: 60px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-navegacao {
    justify-self: center;
    flex: 1;
}
.lista-menu-navegacao {
    display: flex;
    justify-content: center;
}

.item-menu-navegacao a{
    margin: 0 15px;
    color: #ACABB7;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.item-menu-navegacao .ativo{
    color: #00CDFF;
}

.item-menu-navegacao a:hover{
    color: #FFF;
}

.item-menu-navegacao a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.item-menu-navegacao a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header img {
    display: block;
    justify-self: flex-start;
}

.menu-mobile {
    display: none;
    justify-self: flex-end;
    background: url('./images/menu-mobile.png') no-repeat center center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* Estilização do footer */
footer {
    height: 90px;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    background-color: #1F1F1F;
    justify-content: center;
    align-items: center;
}

footer a {
    margin: 15px;
}


footer a:hover {
    filter: brightness(100);
}

/* Estilização da pagina Home - perfil */

.perfil {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.perfil h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 3rem;

    color: #F1F0F5;
    
    margin: 30px 0;
}

#foto-perfil {
    width: 180px;
    height: 192px;
    border-radius: 30px;
    border: solid 3px #00CDFF;
    margin: 30px 0;
}

#nome-aluno {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #F1F0F5;
}

#info {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 55px;
    padding: 30px;
    border-top: solid 1px #33303E;
    height: 35vh;
    flex-wrap: wrap;
}

.info-item {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 50px;
}
.info-item-titulo {
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;

    color: #F1F0F5;
}

.info-item-conteudo {
    font-size: 0.975rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C6C5CE;
}


/* Estilização de pagina de disciplina */

.secao-intro {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 6.5rem 60px;
    height: 95vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.intro-conteudo-container {
    width: 40%;
    padding-right: 40px;
}

.sobre-titulo{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ACABB7;
}
.texto-background {
    color: rgba(255, 255, 255, 0.02);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    font-size: 15rem;
    line-height: 1.7;
    text-transform: uppercase;
    top: -50px;
    left: 200px;
    z-index: -1;
    bottom: 0;
}

.titulo-intro {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #F1F0F5;
    font-size: 4rem;
    margin-bottom: 30px;
}

.conteudo-intro {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.975rem;
    color: #E1E0E7;
    line-height: 1.8;
    margin-bottom: 15px;
}
.imagens-intro {
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.imagem-intro {
    height: 400px;
    width: 250px;
    margin: 30px;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
}

.imagem-intro:nth-child(even){
    align-self: start;
    animation: entrada 1.5s ease-in-out 0s, intro-imagens-anim-rev 2s linear 1.7s infinite;
}

.imagem-intro:nth-child(odd){
    animation: entrada 1.5s ease-in-out 0s, intro-imagens-anim 2s linear 1.7s infinite;
}

/* Estilizacao da secao de ementa */

.secao-ementa {
    background-color: #F1F0F5;
    height: 900px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.secao-ementa.vazio {
    height: 780px;
}

.titulo-secao {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #F1F0F5;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.titulo-secao::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -10px; 
    margin: 0 auto;
	left: 0;
	width: 160px;
    height: 5px;
	background: #FFAE0D;
    border-radius: 10px;
}

.secao-ementa .titulo-secao {
    color: #1F1E1E;
}

.conteudos-ementa {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}

.conteudo-ementa {
    background-color: #FFF;
    padding: 8px 15px;
    margin: 25px 15px;
    font-family: 'Poppins', sans-serif;
    color: #1F1E1E;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 0px 6px 0px rgba(0, 0, 0, 0.02);
}

.conteudo-ementa:hover{
    background-color: #E1E0E7;
    transition: background-color 0.5s;
    cursor: pointer;
}

.secao-ementa p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 100px;
    color: #1A1A1A;
}

iframe {
    width: 60%;
    height: 500px;
    position: absolute;
    bottom: -200px;
}

.secao-bibliografia {
    margin: 300px 150px;
    display: flex;
    flex-direction: column;
}

.secao-bibliografia.vazio {
    margin-bottom: 50px;
}

.secao-bibliografia .titulo-secao {
    margin-bottom: 40px;
}

.livro {
    display: flex;
    width: 60%;
    margin: 35px 0;
}

.info-livro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.imagem-livro {
    margin: 0 30px;
    border-radius: 20px;
    width: 230px;
    height: 350px;
    object-fit: cover;
}
.nome-livro {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 2.5rem;
    color: #F1F0F5;
}
.nome-autor {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.975rem;
    color: #ACABB7;
    margin-top: 10px;
}

.botao-comprar-livro {
    width: 250px;
    height: 60px;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: #25B4D7;
    color: #F1F0F5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 40px;
}

.botao-comprar-livro:hover {
    background-color: rgb(31, 147, 177);
    transition: background-color 0.3s;
}

.livro:nth-child(even) {
    align-self: flex-start;
}

.livro:nth-child(odd) {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.secao-bibliografia p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 100px;
    color: #E1E0E7;
}


/* Estilização da tabela de trabalho em grupo */
.secao-trabalho {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
}

table {
    margin: 40px auto;
    color: #F1F0F5;
    text-align: left;
    width: 1200px;
}

th, td {
    padding: 15px 0;
    border-bottom: solid 1px #33303E;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

td a {
    color: #25B4D7;
}


/* Estilizando o sobre */

.sobre {
    height: 84vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.sobre p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #F1F0F5;
    font-size: 1.5rem;
    line-height: 2;
}

/* animacoes */

@keyframes entrada{
    from{
      transform: translateY(-100px);
      opacity: .1;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes intro-imagens-anim {
    0%   {transform: translate(0, 0px);}
    25%  {transform: translate(0, -5px);}
    50%  {transform: translate(0, 0px);}
    75%  {transform: translate(0, 5px);}
    100% {transform: translate(0, 0px);}
}

@keyframes intro-imagens-anim-rev {
    0%   {transform: translate(0, 0px);}
    25%  {transform: translate(0, 5px);}
    50%  {transform: translate(0, 0px);}
    75%  {transform: translate(0, -5px);}
    100% {transform: translate(0, 0px);}
}

/* animacao de entrada */

.sobre-titulo, #foto-perfil {
    animation: entrada 1.2s ease-out 0s;
}
.titulo-intro, #nome-aluno{
    animation: entrada 1s ease-out 0s;
}

.conteudo-intro, #info, .sobre{
    animation: entrada 0.8s ease-out 0s;
}

.menu-navegacao {
    animation: entrada 0.4s ease-out 0s;
}

/* Responsividade */

@media(max-width: 1500px) {
    .imagem-intro {
        height: 300px;
        width: 180px;
        margin: 20px;
    }
    .intro-conteudo-container {
        width: 80%;
    }
}

@media(max-width: 1365px) {
    .titulo-intro {
        font-size: 3rem;
    }
    .conteudo-intro {
        font-size: 0.75rem;
    }

    .secao-bibliografia {
        margin: 300px 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .livro {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .info-livro {
        flex-direction: column;
        align-items: center;
    }
    .nome-livro {
        font-size: 2rem;
    }

    .livro:nth-child(odd) {
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-self: center;
    }
    .livro:nth-child(even) {
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-self: center;
    }

    .item-menu-navegacao{
        font-size: 0.8rem;
    }

}

@media(max-width: 1180px) {
    .imagens-intro{
        display: none;
    }
    .menu-navegacao {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
    .menu-navegacao.menu-ativo{
        display: block;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: #1F1F1F;
        top: 0px;
        scroll-behavior: unset;
        position: fixed;
        z-index: 1;
    }
    .menu-navegacao.menu-ativo .lista-menu-navegacao{
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-navegacao.menu-ativo .lista-menu-navegacao .item-menu-navegacao{
        margin-bottom: 20px;
    }
    
    .menu-mobile.menu-mobile-ativo {
        display: block;
        background: url('./images/sair.png') no-repeat center center;
        right: 30px;
        position: absolute;
        z-index: 1000;
    }

    .nome-livro {
        font-size:1.5rem;
        text-align: center;
    }
    #info {
        flex-direction: column;
    }
    .secao-intro {
        padding: 2rem 1rem;
        overflow: hidden;
    }
    .secao-ementa {
        height: 1200px;
    }
    .secao-ementa.vazio {
        height: 800px;
    }
    .conteudos-ementa {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        justify-content: space-around;
        margin-right: 20px;
    }
    .conteudo-ementa {
        width: 100%;
        text-align: center;
    }
    iframe {
        width: 90%;
    }
    .sobre p {
        font-size: 1.2rem;
    }
}

@media(max-width: 600px) {
    .secao-ementa.vazio p {
        font-size: 1rem;
        text-align: left;
        margin: 60px 30px;
    }
    .sobre p {
        font-size: 1rem;
        text-align: left;
    }
    .secao-bibliografia {
        width: 95%;
        margin-left: 0;
        margin-right: 0;
    }
    .titulo-secao {
        font-size: 2rem;
        text-align: left;
    }
    
    .titulo-secao::after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -10px; 
        margin: 0 auto;
        left: 0;
        width: 160px;
        height: 5px;
        background: #FFAE0D;
        border-radius: 10px;
    }
    
    .intro-conteudo-container{
        width: 95%;
        padding: 10px;
    }
    .titulo-intro {
        font-size: 2.5rem;
    }
    .perfil::-webkit-scrollbar {
        display: none;
    }
    #info {
       width: 100%;
       height: 400px;
    }
    .info-item {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-right: 20px;
    }
    .info-item-titulo, #nome-aluno{
        font-size: 1.2rem;
    }
    
    .info-item-conteudo {
        font-size: 0.75rem;
    }
    .perfil h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 375px) {
    .secao-intro {
        height: 700px;
    }
    .sobre p {
        font-size: 0.75rem;
        text-align: left;
    }
}